@import "fonts";

body {
	font-family: Roboto, sans-serif;
	background-color: #222222;
	span {
		color: #e2e2e2;
	}
	background: url("@img/img01.jpg");
}

@media (max-width:768px) {
	span {
		font-size: 20px;
	}
}

@media (max-width:768px) {
	body {
		background-color: lightblue;
	}
}